@media (max-width : 600px) {

html, body {
    height: 100%;
    background-color: rgb(231, 231, 231);
}
    
#lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 1%;
}

#product-page {
    background-color: rgb(231, 231, 231);
    height: 100%;
    width: 100%;
    text-align: center;
}

#product-box {
    text-align: center;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    border-color: black;
    margin: 2%;
    max-width: 45%;
    box-shadow: 0px 0px 20px;
    padding: 0%;
    transition: transform 0.5s, box-shadow 0.5s;
}

#product-box:hover {
    transform: scale(1.015);
}

#product-image {
    width: 120px;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 0px;
}

#product-name-text {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bolder;
    margin: 0;
    padding-top: 15px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3%;
    text-align: left;
    text-shadow: 0px 0px 2px;
}

#spec-detail {
    font-family: Helvetica, sans-serif;
    font-size: 6px;
    text-align: left;
    padding: 6%;
    margin: 0;
    padding-top: 0;
    color: gray;
}

#add-to-cart {
    border-radius: 50px;
    background-color: rgb(231, 231, 231);
    color: black;
    border-color: black;
    padding: 2.5%;
    margin-top: 4.6%;
    margin-left: 6%;
    float: left;
    margin-bottom: 10%;
    font-weight: bold;
    transition: 0.7s;
    font-size: 6px;
}

#add-to-cart:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px;
}

#specifications {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 6px;
}

#cart-image {
    width: 6px;
    height: 6px;
    margin-left: 4px;
    margin-right: 4px;
}

#certification-box {
    display: block;
}

#logo-product {
    width: 28px;
    height: 33px;
    padding-top: 30px;
    transition: 0.5s;
}

#logo-product:hover {
    transform: scale(1.05);
}

#header {
    font-family: Helvetica, sans-serif;
    font-size: 38px;
    margin: 0;
    margin-top: 3%;
    padding: 0;
    text-shadow: 0px 0px 3px;
}

#price {
    font-family: Helvetica, sans-serif;
    text-align: left;
    margin: 0;
    margin-left: 7%;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 0px 2px;
}

#logo {
    margin: 0 auto;
    margin-right: 50%;
    padding: 0px;
    text-align: center;
    max-width: 3%;
    display: flex;
}

#bar-container {
    text-align: center;
    margin: 0 auto;
}

#go-back {
    float: left;
    margin: 6.5% 0 0 5.8%;
    color: black;
    border-color: black;
    background-color: rgb(231, 231, 231);
    border-radius: 40px;
    border-width: 2px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    padding: 7px;
    transition: 0.7s;
    box-shadow: 0px 0px 4px;
    display: flex;
}

#go-back:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 4px;
}

#arrow {
    margin: 0;
    margin-right: 4px;
    padding-bottom: 10px;
    padding: 0;
}

#error {
    position: fixed;
    border-radius: 25px;
    text-align: center;
    max-width: 50%;
    width: 50%;
    background-color: rgba(231, 231, 231, 0.95);
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 25.5%;
    box-shadow: 0px 0px 10px;
    transition: ease-in-out 0.5s;
}

#error-logo-container {
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
}

#error-logo-text {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

#error-logo {
    width: 27px;
    height: 30px;
    margin-right: 10px;
}

#error-message {
    text-align: left;
    margin-left: 25px;
    margin-top: 30px;
}

#error-message-text {
    font-family: Helvetica, sans-serif;
    color: gray;
    margin: 3px;
    font-size: 12px;
}

#error-button {
    border-radius: 50px;
    padding: 7px;
    font-family: Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bolder;
    background-color: black;
    color: whitesmoke;
}

#error-button:hover {
    transform: scale(1.015);
    box-shadow: 0px 0px 5px;
}

#error-button-container {
    text-align: left;
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 30px;
}

}

@media (min-width : 1025px) {

html, body {
    height: 100%;
    background-color: rgb(231, 231, 231);
}    
    
#lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 1%;
}

#product-page {
    background-color: rgb(231, 231, 231);
    height: 100vh;
    width: 100%;
    text-align: center;
}

#product-box {
    text-align: center;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    border-color: black;
    margin: 2%;
    max-width: 45%;
    box-shadow: 0px 0px 20px;
    padding: 0%;
    transition: transform 0.5s, box-shadow 0.5s;
}

#product-box:hover {
    transform: scale(1.015);
}

#product-image {
    width: 200px;
    height: 200px;
    padding-top: 60px;
    padding-bottom: 20px;
}

#product-name-text {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    margin: 0;
    padding-top: 20px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3%;
    text-align: left;
    text-shadow: 0px 0px 3px;
}

#spec-detail {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    padding: 6%;
    margin: 0;
    padding-top: 0;
    color: gray;
}

#add-to-cart {
    border-radius: 50px;
    background-color: rgb(231, 231, 231);
    color: black;
    border-color: black;
    padding: 2.5%;
    margin-top: 4.6%;
    margin-left: 6%;
    float: left;
    margin-bottom: 10%;
    font-weight: bold;
    transition: 0.7s;
}

#add-to-cart:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px;
}

#specifications {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

#cart-image {
    width: 13px;
    height: 13px;
    margin-left: 10px;
    margin-right: 4px;
}

#certification-box {
    display: block;
}

#logo-gallery {
    width: 40px;
    height: 45px;
    transition: 0.5s;
    margin-top: 75%;
}

#logo-product:hover {
    transform: scale(1.05);
}

#header {
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    margin: 0;
    margin-top: 3%;
    padding: 0;
    text-shadow: 0px 0px 4px;
}

#price {
    font-family: Helvetica, sans-serif;
    text-align: left;
    margin: 0;
    margin-left: 7%;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0px 0px 3px;
}

#logo {
    margin: 0 auto;
    margin-right: 48.45%;
    padding: 0px;
    text-align: center;
    max-width: 3%;
    display: flex;
}

#bar-container {
    text-align: center;
    margin: 0 auto;
}

#go-back {
    float: left;
    margin: 2.7% 0 0 5.2%;
    color: black;
    border-color: black;
    background-color: rgb(231, 231, 231);
    border-radius: 40px;
    border-width: 3px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    padding: 12px;
    transition: 0.7s;
    box-shadow: 0px 0px 4px;
    display: flex;
}

#go-back:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 4px;
}

#arrow {
    margin: 0;
    margin-right: 8px;
    padding-bottom: 10px;
    padding: 0;
    font-size: 13px;
}

#error {
    position: fixed;
    border-radius: 25px;
    text-align: center;
    max-width: 50%;
    width: 25%;
    background-color: rgba(231, 231, 231, 0.95);
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 37.5%;
    box-shadow: 0px 0px 10px;
    transition: ease-in-out 0.5s;
}

#error-logo-container {
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
}

#error-logo-text {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
}

#error-logo {
    width: 45px;
    height: 50px;
    margin-right: 10px;
}

#error-message {
    text-align: left;
    margin-left: 25px;
    margin-top: 30px;
}

#error-message-text {
    font-family: Helvetica, sans-serif;
    color: gray;
    margin: 3px;
    font-size: 15px;
}

#error-button {
    border-radius: 50px;
    padding: 12px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: black;
    color: whitesmoke;
}

#error-button:hover {
    transform: scale(1.015);
    box-shadow: 0px 0px 5px;
}

#error-button-container {
    text-align: left;
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 30px;
}
}
